<table id="dm_table" width="320">
	<tr><th colspan="5">Master Clock: <%= @master_clock.clock %></th></tr>
	<tr><th>Player</th><th>Clock</th><th>Strain</th><th>Recovery</th><th>&nbsp;</th></tr>
<% @players.sort { |a,b| a.clock <=> b.clock }.each do |p|  %>
	<tr>
		<td><%= p.name%></td>
		<td><%= p.clock %></td>
		<td><%= p.strain_label %></td>
		<td><%= p.recovery_label %></td>
		<td><%= link_to_remote "Push 2", :url => { :action => :push, :speed => 2, :player_id => p.id }, :update => "dm_table_div" %>
		</td>
	</tr>
<% end %>
</table>

